<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AllFilter</filter-name>
  	<display-name>AllFilter</display-name>
  	<description></description>
  	<filter-class>courtFilter.AllFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AllFilter</filter-name>
  	<url-pattern>/AllFilter</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>court.servlet.InitListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>Rervse</servlet-name>
  	<display-name>Rervse</display-name>
  	<description></description>
  	<servlet-class>court.servlet.Rervse</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogIn</servlet-name>
  	<display-name>LogIn</display-name>
  	<description></description>
  	<servlet-class>court.servlet.LogIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOn</servlet-name>
  	<display-name>LogOn</display-name>
  	<description></description>
  	<servlet-class>court.servlet.LogOn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserInfo</servlet-name>
  	<display-name>UserInfo</display-name>
  	<description></description>
  	<servlet-class>court.servlet.UserInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CourtInfo</servlet-name>
  	<display-name>CourtInfo</display-name>
  	<description></description>
  	<servlet-class>court.servlet.CourtInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>teacherApplyCurriculum</servlet-name>
  	<display-name>teacherApplyCurriculum</display-name>
  	<description></description>
  	<servlet-class>curriculum.teacherApplyCurriculum</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherApplyCurriculum</servlet-name>
  	<display-name>TeacherApplyCurriculum</display-name>
  	<description></description>
  	<servlet-class>curriculum.TeacherApplyCurriculum</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminVerifyApply</servlet-name>
  	<display-name>AdminVerifyApply</display-name>
  	<description></description>
  	<servlet-class>curriculum.AdminVerifyApply</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentSelectCurriculum</servlet-name>
  	<display-name>StudentSelectCurriculum</display-name>
  	<description></description>
  	<servlet-class>curriculum.StudentSelectCurriculum</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Rervse</servlet-name>
  	<url-pattern>/Rervse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>teacherApplyCurriculum</servlet-name>
  	<url-pattern>/teacherApplyCurriculum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherApplyCurriculum</servlet-name>
  	<url-pattern>/TeacherApplyCurriculum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminVerifyApply</servlet-name>
  	<url-pattern>/AdminVerifyApply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentSelectCurriculum</servlet-name>
  	<url-pattern>/StudentSelectCurriculum</url-pattern>
</servlet-mapping>
<servlet-mapping>
  	<servlet-name>LogIn</servlet-name>
  	<url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOn</servlet-name>
  	<url-pattern>/LogOn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserInfo</servlet-name>
  	<url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CourtInfo</servlet-name>
  	<url-pattern>/CourtInfo</url-pattern>
  </servlet-mapping>
</web-app>